body {
     background-color: khaki; 
    margin:0 20px;
    font-family: sans-serif;
}
  h1
  { margin:0;
}
main{ 
    background-color: rgb(150, 23, 23);
}
section{
     float:left;
      width:34em;}


